/* Style for the background of all pages */
.App {
  background-color: rgb(0, 81, 129);
  width: 100%;
  height: 100%;
}

.wrapper {
  padding: 20px;
}

/* Style for Navigation Bar */

.navBar {
  height: 300px;
  width: 100%;
  background-Color: lightblue;
  padding-bottom: 70px;
  position: fixed;
  top: 0;
}

.topNav {
  display: flex;
  padding: 10px;
  margin-left: 60px;
}

.titleNav {
  font-Size: 50px;
  text-Align: center;
  padding: 50px;
  padding-left: 100px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(0, 81, 129);
}

.linkNav {
  display: inline-flex;
  text-align: center;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: lightblue;
  background-color: rgb(0, 81, 129);
  padding: 25px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.links {
  margin-left: 60px;
  color: lightblue;
}

.links:hover {
  color: rgb(81, 179, 236);
}

/* Style for Home Page */

.titleHome {
  font-size: 40px;
  margin-top: 335px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: lightblue;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-top: 10px;
  margin-left: 40px;
}

.textHome {
  font-size: 30px;
  margin-left: 40px;
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: lightblue;
}

/* Style for About Me Page */

.titleAbout {
  font-size: 40px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: lightblue;
}

.textAbout {
  font-size: 30px;
  margin-left: 40px;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: lightblue;
}

.imageAbout {
  height: 200px;
  margin-left: 300px;
}

.divAbout {
  display: flex;
  padding-left: 30px;
  margin-top: 395px;
}

.resume {
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: lightblue;
  text-decoration: underline;
}

/* Style for Projects Page */

.titleProjects {
  font-size: 40px;
  margin-top: 395px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: lightblue;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-left: 40px;
}

.textProjects {
  font-size: 30px;
  margin-left: 40px;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: lightblue;
}

.imageProjects {
  height: 200px;
  width: 300px;
  margin-left: 400px;
}

.projects {
  padding-left: 40px;
  list-style-type: none;
}

.divProjects {
  display: flex;
  padding: 10px;
}

.projectdiv {
  display: flex;
}

.project {
  font-size: 30px;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: lightblue;
  background-color: rgb(0, 81, 129);
  width: fit-content;
  margin-left: 80px;
}

.formProjects {
  font-size: 15px;
  flex-direction: column;
  width: 400px;
  height: 400px;
  background-color: lightblue;
  border: 2px solid rgb(11, 66, 98);
  text-align: center;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 400px;
}

.inputsProjects {
  padding: '10px';
  border: '1px solid #ccc';
  border-radius: '8px';
  text-align: center;
}

.descriptionProjects {
  font-size: 15px;
  color: rgb(0, 81, 129);
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 30px;
  width: 200px;
  margin: 10px;
  background-color: antiquewhite;
}

.imagesProjects {
  font-size: 15px;
  color: rgb(0, 81, 129);
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 30px;
  width: 200px;
  margin: 10px;
  background-color: antiquewhite;
}

.buttonProjects {
  font-size: 20px;
  background-color: lightblue;
  color: rgb(0, 81, 129);
  padding: 10px;
  margin-top: 430px;
  margin-left: 150px;
  margin-bottom: 20px;
  text-align: center;
}

.buttonProjects1 {
  font-size: 20px;
  background-color: lightblue;
  color: rgb(0, 81, 129);
  padding: 10px;
  margin-left: 30px;
  text-align: center;
}

button:hover {
  color: rgb(120, 197, 222);
  background-color: rgb(0, 81, 129);
}

button:active {
  background-color: lightblue;
  box-shadow: 0 2px rgb(11, 66, 98);
  transform: translateY(4px);
  color: rgb(4, 41, 62);
}

/* Style for Education Page */

.titleEducation {
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: lightblue;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.divEducation {
  margin-top: 395px;
  margin-left: 40px;
}


.textEducation {
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: lightblue;
}

.subtitle {
  font-size: 27px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: lightblue;
  list-style-type: none;
}

.listEducation {
  font-size: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: lightblue;
  margin-left: 40px;
}

.lists {
  display: flex;
}

/* Style for Services Page */

.titleServices {
  font-size: 40px;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 10px;
  margin-left: 30px;
  margin-top: 395px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: lightblue;
}

.textServices {
  font-size: 30px;
  margin-left: 40px;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: lightblue;
}

.imageServices {
  height: 200px;
  width: 300px;
  margin-left: 100px;
}

.services {
  padding-left: 40px;
  list-style-type: none;
}

.divServices {
  display: flex;
  padding: 10px;
}

/* Style for Contact Page */

.div {
  display: flex;
  margin-left: 150px;
  margin-top: 395px;
  padding: 30px;
}

.titleContact {
  font-size: 40px;
  padding: 20px;
  margin-left: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: lightblue;
}

.textContact {
  font-size: 30px;
  margin-left: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: lightblue;
}

.contact {
  font-size: 30px;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: lightblue;
  background-color: rgb(0, 81, 129);
  width: fit-content;
  margin-left: 110px;
}

.form {
  font-size: 15px;
  flex-direction: column;
  width: 400px;
  height: 500px;
  background-color: lightblue;
  border: 2px solid rgb(11, 66, 98);
  text-align: center;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 250px;
}

.inputs {
  padding: '10px';
  border: '1px solid #ccc';
  border-radius: '8px';
  text-align: center;
}

.name {
  font-size: 15px;
  color: rgb(0, 81, 129);
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 30px;
  width: 200px;
  margin: 10px;
  background-color: antiquewhite;
}

.lastname {
  font-size: 15px;
  color: rgb(0, 81, 129);
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 30px;
  width: 200px;
  margin: 10px;
  background-color: antiquewhite;
}

.email {
  font-size: 15px;
  color: rgb(0, 81, 129);
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 30px;
  width: 200px;
  margin: 10px;
  background-color: antiquewhite;
}

.number {
  font-size: 15px;
  color: rgb(0, 81, 129);
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 30px;
  width: 200px;
  margin: 10px;
  background-color: antiquewhite;
}

.textarea {
  font-size: 15px;
  color: rgb(0, 81, 129);
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 50px;
  width: 200px;
  margin: 10px;
  background-color: antiquewhite;
}

.button {
  font-size: 20px;
  background-color: rgb(0, 81, 129);
  color: lightblue;
  padding: 10px;
  text-align: center;
}

button:hover {
  color: rgb(0, 81, 129);
  background-color: rgb(120, 197, 222);
}

button:active {
  background-color: rgb(4, 41, 62);
  box-shadow: 0 2px rgb(11, 66, 98);
  transform: translateY(4px);
  color: lightblue;
}

/* Style for Footer */

.footer {
  height: 80px;
  width: 100vw;
  background-Color: lightblue;
  position: static;
  bottom: 0;
  left: 0;
  padding-top: 35px;
}

.footerText {
  padding-right: 70px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  color: rgb(0, 81, 129);
  text-align: right;
}

/* Style for Login Page */

.divLogin {
  display: flex;
  margin-left: 150px;
  margin-top: 395px;
  padding: 30px;
}

.textLogin {
  font-size: 30px;
  margin-left: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: lightblue;
}

.login {
  font-size: 30px;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: lightblue;
  background-color: rgb(0, 81, 129);
  width: fit-content;
  margin-left: 150px;
}

.formLogin {
  font-size: 15px;
  flex-direction: column;
  width: 400px;
  height: 400px;
  background-color: lightblue;
  border: 2px solid rgb(11, 66, 98);
  text-align: center;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 450px;
}

.inputsLogin {
  padding: '10px';
  border: '1px solid #ccc';
  border-radius: '8px';
  text-align: center;
}

.emailLogin {
  font-size: 15px;
  color: rgb(0, 81, 129);
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 30px;
  width: 200px;
  margin: 10px;
  background-color: antiquewhite;
}

.passwordLogin {
  font-size: 15px;
  color: rgb(0, 81, 129);
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 30px;
  width: 200px;
  margin: 10px;
  background-color: antiquewhite;
}

.button {
  font-size: 20px;
  background-color: rgb(0, 81, 129);
  color: lightblue;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
}

button:hover {
  color: rgb(0, 81, 129);
  background-color: rgb(120, 197, 222);
}

button:active {
  background-color: rgb(4, 41, 62);
  box-shadow: 0 2px rgb(11, 66, 98);
  transform: translateY(4px);
  color: lightblue;
}

/* Style for Register Page  */

.divRegister {
  display: flex;
  margin-left: 150px;
  margin-top: 395px;
  padding: 30px;
}

.textRegister {
  font-size: 30px;
  margin-left: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: lightblue;
}

.register {
  font-size: 30px;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: lightblue;
  background-color: rgb(0, 81, 129);
  width: fit-content;
  margin-left: 140px;
}

.formRegister {
  font-size: 15px;
  flex-direction: column;
  width: 400px;
  height: 400px;
  background-color: lightblue;
  border: 2px solid rgb(11, 66, 98);
  text-align: center;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 450px;
}

.inputsRegister {
  padding: '10px';
  border: '1px solid #ccc';
  border-radius: '8px';
  text-align: center;
}

.nameRegister {
  font-size: 15px;
  color: rgb(0, 81, 129);
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 30px;
  width: 200px;
  margin: 10px;
  background-color: antiquewhite;
}

.emailRegister {
  font-size: 15px;
  color: rgb(0, 81, 129);
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 30px;
  width: 200px;
  margin: 10px;
  background-color: antiquewhite;
}

.passwordRegister {
  font-size: 15px;
  color: rgb(0, 81, 129);
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 30px;
  width: 200px;
  margin: 10px;
  background-color: antiquewhite;
}

.button {
  font-size: 20px;
  background-color: rgb(0, 81, 129);
  color: lightblue;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
}

button:hover {
  color: rgb(0, 81, 129);
  background-color: rgb(120, 197, 222);
}

button:active {
  background-color: rgb(4, 41, 62);
  box-shadow: 0 2px rgb(11, 66, 98);
  transform: translateY(4px);
  color: lightblue;
}